@import '../../../../styles.sass'

.profile__card
    background-color: $yellow
    width: 392px
    padding-top: 10px
    padding-bottom: 80px
    border-radius: 45px
.profile__card__title__preview
    font-size: 35px
    font-weight: 700
    color: $blue-medium
.profile__card__title
    font-size: 24px
    font-weight: 500
    color: $gray-dark
.profile__card__hobbie__title
    font-size: 24px
    font-weight: 700
    color: $gray-dark
.profile__card__hobbie__description
    font-size: 24px
    font-weight: 700
    color: $gray-dark
