/* You can add global styles to this file, and also import other style files */

/* Color palette

$blue-light: #2C85BC
$blue-medium: #185A7D
$blue-dark: #01426A
$gray-light: #F2F2F2
$gray-medium: #AAAAAA
$gray-dark: #4B4B4B
$green-light: #7ED876
$black: #000000
$yellow: #FFC600
$red: #DF1C24

/* Global classes

body
    font-family: 'Poppins', sans-serif

.title__text
    color: $blue-dark
    font-weight: 400
    font-size: 30px

.header__text
    color: $blue-medium
    font-weight: 400
    font-size: 35px

.description__text
    color: $gray-medium
    font-weight: 400
    font-size: 18px
.profile__title__text
    font-size: 40px
    font-weight: 700
    color: black
.image__preview
    position: relative
    display: inline-block
.align__right
    text-align: right
.align__left
    text-align: left
.align__center
    display: flex
    align-items: center
    justify-content: center
    margin-left: 1rem
.button__text
    font-size: 12px
    font-weight: 600
    color: $blue-dark

@for $i from 0 through 100
    .w-#{$i}
        width: #{$i * 1%}

    .h-#{$i}
        height: #{$i * 1%}
